.classpath
*.swp
.project
.settings
target
build
.gradle
.springBeans
/bin

scratch/en/demos/tmp/0.png

scratch/en/demos/tmp/0.wav

scratch/en/demos/tmp/1.svg

scratch/en/demos/tmp/1.wav

scratch/en/demos/tmp/2.svg

scratch/en/demos/tmp/3.svg

scratch/en/demos/tmp/4.svg

scratch/en/demos/tmp/5.svg

scratch/en/demos/tmp/6.svg

scratch/en/demos/tmp/7.png

scratch/en/demos/tmp/project.json
