<html th:inline="text" th:remove="tag">_busy [[${_busy}]]
speedMotorA [[${speedMotorA}]]
speedMotorB [[${speedMotorB}]]
speedMotorC [[${speedMotorC}]]
speedMotorD [[${speedMotorD}]]
speed/A [[${speedMotorA}]]
speed/B [[${speedMotorB}]]
speed/C [[${speedMotorC}]]
speed/D [[${speedMotorD}]]
maxSpeedMotorA [[${maxSpeedMotorA}]]
maxSpeedMotorB [[${maxSpeedMotorB}]]
maxSpeedMotorC [[${maxSpeedMotorC}]]
maxSpeedMotorD [[${maxSpeedMotorD}]]
maxSpeed/A [[${maxSpeedMotorA}]]
maxSpeed/B [[${maxSpeedMotorB}]]
maxSpeed/C [[${maxSpeedMotorC}]]
maxSpeed/D [[${maxSpeedMotorD}]]
tachoCountMotorA [[${tachoCountMotorA}]]
tachoCountMotorB [[${tachoCountMotorB}]]
tachoCountMotorC [[${tachoCountMotorC}]]
tachoCountMotorD [[${tachoCountMotorD}]]
tachoCount/A [[${tachoCountMotorA}]]
tachoCount/B [[${tachoCountMotorB}]]
tachoCount/C [[${tachoCountMotorC}]]
tachoCount/D [[${tachoCountMotorD}]]
limitAngleMotorA [[${limitAngleMotorA}]]
limitAngleMotorB [[${limitAngleMotorB}]]
limitAngleMotorC [[${limitAngleMotorC}]]
limitAngleMotorD [[${limitAngleMotorD}]]
limitAngle/A [[${limitAngleMotorA}]]
limitAngle/B [[${limitAngleMotorB}]]
limitAngle/C [[${limitAngleMotorC}]]
limitAngle/D [[${limitAngleMotorD}]]
sensorS1 [[${sensorS1}]]
sensorS2 [[${sensorS2}]]
sensorS3 [[${sensorS3}]]
sensorS4 [[${sensorS4}]]
sensor/S1 [[${sensorS1}]]
sensor/S2 [[${sensorS2}]]
sensor/S3 [[${sensorS3}]]
sensor/S4 [[${sensorS4}]]
</html>